div.commitcalender {
  font: 10px sans-serif;
  shape-rendering: crispEdges;
}

.day {
  stroke: #ccc;
  fill: #fff;
}

.month {
  fill: none;
  stroke: #000;
  stroke-width: 1px;
}

div.commitrepos div.project {
    border: 1px solid black;
    float: left;
    margin: 0px 7px 7px 0px;
    padding: 2px 8px;
    cursor: pointer;
}

div.commitproject {
    clear: both;
}

div.commitname {
    font-weight: bold;
}
div.commitdescription, div.commitrepocount {
    margin: 4px 0px 0px 40px;
}

div.commitextensions {
    margin: 4px 200px 0px 40px;
}
div.commitextensions div.extensions_label {
    float: left;
    margin: 0px 5px 5px 0px;
    padding: 2px 8px 2px 0px;
}
div.commitextensions div.extension {
    float: left;
    margin: 0px 5px 5px 0px;
    padding: 2px 8px;
}
